        <!-- Modal de Confirmação de Saída -->
        <div id="exitModal" class="modal exit-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close-btn" onclick="hideExitModal()">×</button>
                </div>
                <div class="modal-body">
                    <h3>Sair sem fazer o agendamento?</h3>
                    <p>Se você sair agora, seu agendamento não será salvo.</p>
                    <div class="button-group">
                        <button class="exit-btn">Sair</button>
                        <button class="continue-btn">Continuar o agendamento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
