<footer>
    <div class="container footer-container">
        <div class="footer-grid">
            <div class="footer-section">
                <h3 class="footer-title">Atendimento em duas unidade</h3>
                <p class="footer-text">Rua Monzart Galheiros, 1600 - Izidro Pedroso</p>
                <p class="footer-text">Rua Nely Todeschini, 1620 - Santa Maria</p>
                <p class="footer-text">Dourados - MS</p>
            </div>

            <div class="footer-section">
                <h3 class="footer-title">Contato</h3>
                <p class="footer-text">Tel: (67) 99958-8012</p>
                <p class="footer-text">alcionedepiladora@gmail.com</p>
            </div>

            <div class="footer-section">
                <h3 class="footer-title">Horário de funcionamento</h3>
                <p class="footer-text">Seg. a Sext.: 07:00 às 18:00</p>
                <p class="footer-text">Sáb.: 07:00 às 18:00</p>
                <p class="footer-text">Dom.: Verificar disponibilidade</p>
            </div>
        </div>

        <div class="footer-copyright">
            <p>© 2025 por Alcione depiladora.</p>
            <p>Orgulhosamente desenvolvido por @lyziane_lyzi</p>
        </div>
    </div>
</footer>