<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-dark" href="index.html">
            <img src="img/LogoAlcione.svg" alt="Logo Alcione depiladora">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav w-100 justify-content-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/PainelAdm.html">Administrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/servicos.html">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#avaliacoes">Avaliações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/tabela.html">Preços</a>
                </li>
            </ul>
            <a href="#" id="btnAgendamento" class="btn btn-outline-dark ms-3">Acessar agendamento
            </a>
        </div>
    </div>
</nav>