<section class="servicos-container">
    <div class="servico-card">
      <img src="/img/card_1.png" alt="Depilação" />
      <h3>Depilação</h3>
      <p>
        Técnica de remoção dos pelos do corpo que deixa a pele mais lisa e limpa por mais tempo. Pode feita com métodos de cera quente caseira.
      </p>
    </div>
    <div class="servico-card">
      <img src="/img/card acu.png" alt="Acupuntura" />
      <h3>ACUPUNTURA</h3>
      <p>
        Terapia milenar chinesa que utiliza agulhas finas aplicadas em pontos específicos do corpo para aliviar dores, tratar problemas emocionais e melhorar o equilíbrio do organismo.
      </p>
    </div>
    <div class="servico-card">
      <img src="/img/card cone.png" alt="Cone Hindu" />
      <h3>CONE HINDU</h3>
      <p>
        Terapia natural que utiliza um cone feito de tecido e cera vegetal, colocado no ouvido para ajudar na limpeza energética, aliviar dores de cabeça, sinusite e melhorar o equilíbrio do corpo.
      </p>
    </div>
    <div class="servico-card">
      <img src="/img/card aroma.png" alt="Aromaterapia" />
      <h3>AROMATERAPIA</h3>
      <p>
        Tratamento natural que utiliza óleos essenciais extraídos de plantas para promover bem-estar físico e emocional, ajudando a reduzir o estresse, ansiedade e melhorar o sono.
      </p>
    </div>
  
    <a class="btn-precos" href="/tabela.html">Consultar preços</a>

  </section>
  